<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Design by http://www.bluewebtemplates.com
Released for free under a Creative Commons Attribution 3.0 License
-->
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Sistem Informasi Kepegawaian Fakultas Hukum UNTAN</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/jquery.jqplot.min.css}" rel="stylesheet" type="text/css" />
	<script th:src="@{/js/jquery.js}"/>
	<script th:src="@{/js/jquery.jqplot.min.js}"/>
	<script th:src="@{/js/jqplot.pieRenderer.js}"/>
	<script th:src="@{/js/jqplot.enhancedPieLegendRenderer.js}"/>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(function(){
			
			var smu = [[${grade.smu}]];
			var d1 = [[${grade.d1}]];
			var d2 = [[${grade.d2}]];
			var d3 = [[${grade.d3}]];
			var d4 = [[${grade.d4}]];
			var s1 = [[${grade.s1}]];
			var s2 = [[${grade.s2}]];
			var s3 = [[${grade.s3}]];
			
			data1 = [[
						['SMU/SMK', smu ],
						['D1', d1],
						['D2', d2],
						['D3', d3],
						['D4', d4],
						['S1', s1],
						['S2', s2],
						['S3', s3]
						]];
		    toolTip1 = ['SMU SEDERAJAT', 'D1','D2','D3','D4','S1','S2','S3'];
		 
		    var plot1 = jQuery.jqplot('chart1', 
		        data1,
		        {
		            title: 'Tenaga Kerja berdasarkan Tingkat Pendidikan', 
		            seriesDefaults: {
		                shadow: false, 
		                renderer: jQuery.jqplot.PieRenderer, 
		                rendererOptions: { padding: 2, sliceMargin: 2, showDataLabels: true }
		            },
		            legend: {
		                show: true,
		                location: 'e',
		                renderer: $.jqplot.EnhancedPieLegendRenderer,
		                rendererOptions: {
		                    numberColumns: 1,
		                    toolTips: toolTip1
		                }
		            },
		        }
		    );
		});
		/*]]>*/
	</script>
</head>
<body>
	<div id="chart1" style="height: 375px;color:orange;font-weight: bolder;font-size: 16px;"></div>
</body>
</html>
